<div>
  <table style="width:100%" class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>#</th>
        <th>Name</th>
        <th>Original Source Document</th>
        <th>Document Contains</th>
        <th>View Import</th>
        <th>Status</th>
        <th>As of</th>
        <th>Imported By</th>
        <th>Imported Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
      *ngFor="let import of imports" 
      (click)="importClicked(import)">
        <td><input type="checkbox"></td>
        <td></td>
        <td>{{import.name}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{import.importedBy}}</td>
        <td>{{import.importedDate | date}}</td>
      </tr>
    </tbody>
  </table>
</div>