/* structure */ 

.blsp-cell {
  flex: 1;
  overflow: hidden;
}

.blsp-row {
  width:100%;
  display: flex;
  flex-direction: row;
}

.blsp-column {
  width:100%;
  display: flex;
  flex-direction: column;
}

.blsp-column.blsp-reverse {
  flex-direction: column-reverse;
}

/* end structure */

/* bootstrap overrides */

.input-group {
  width:100%;
}

/* end bootstrap overrides */

/* loading */

.blsp-loading {
  text-align: center;
} 

.blsp-loading img.blsp-wheel {
  margin: 20px;
}

/* end loading */
