<div class="blsp-mf" (keypress)="handleKeyPress($event)">

  <!-- not found -->
  <div *ngIf="!product">
    Product not found!
  </div>

  <!-- loading -->
  <div class="blsp-loading"
  *ngIf="!(active && product && ui)">
    <img class="blsp-wheel" src="/assets/app-images/loading.gif">
  </div>

  <!-- static head -->
  <div class="blsp-mf-header blsp-mf-section"
  *ngIf="active && product && ui" >
    <div class="column">
      <div class="title">
        <h2>{{product.brand}}</h2>
        <h2><b>{{product.modelCode}}</b></h2>
      </div>
      <h4 class="subtitle"> {{product.description}} </h4>
    </div>
    <div class="blsp-right-side">
      <button class="close" (click)="close();">&times;</button>
    </div>
  </div>

  <form  
  *ngIf="active && product && ui" 
  #f="ngForm"
  (submit)="onSubmit(f.value, $event)"> 

    <!-- scrollable -->
    <div class="blsp-mf-scrollable blsp-mf-section">

      <div class="blsp-column">

        <div class="blsp-form-separator"> 
          <h3> Details </h3> 
        </div>
        
        <div class="blsp-row">

          <!-- Availability -->
          <div class="blsp-input-group">
            <label>Availability: </label>
            <select
            class="form-control" 
            [(ngModel)]="product.availability"
            name="availability">
              <option 
              *ngFor="let option of ui.availabilityDropdown"
              [value]="option">
                {{option}}
              </option>
            </select>
          </div>

          <!-- Since (Date) -->
          <div class="blsp-input-group">
            <label>Since (date): </label>
            <input type="date"
            class="form-control" 
            [(ngModel)]="product.availabilityDateTime"
            name="availabilityDateTime">
          </div>
      
        </div> <!-- .row -->

        
        <!-- Detailed Description -->
        <div class="blsp-input-group">
          <label>Detailed Description: </label>
          <textarea type="text" 
          class="form-control" 
          rows="4"
          style="resize:none;"
          [(ngModel)]="product.extendedDescription" 
          name="extendedDescription"></textarea>
        </div>

        <!-- Physical Product -->
        <div class="blsp-input-group">
          <label class="checkbox-inline">
            <input type="checkbox"
            [(ngModel)]="product.physicalProduct"
            name="physicalProduct"
            [value]="true">
            Physical Product 
          </label>
        </div>

        <!-- isStandalone -->
        <div class="blsp-input-group">
          <label class="radio-inline">
            <input type="radio" name="isStandalone" 
            [value]="true" 
            [(ngModel)]="product.isStandalone"> Standalone Product
          </label> <br>
          <label class="radio-inline">
            <input type="radio" name="isStandalone" 
            [value]="false"
            [(ngModel)]="product.isStandalone"> Accessory 
          </label>
        </div>

        <!-- isIndoor -->
        <div class="blsp-input-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="isIndoor" 
            [value]="true" 
            [(ngModel)]="product.isIndoor"> Indoor
          </label> <br>
          <label class="checkbox-inline">
            <input type="checkbox" name="isOutdoor" 
            [value]="true"
            [(ngModel)]="product.isOutdoor"> Outdoor
          </label>
        </div>


          <div class="blsp-row">

            <!-- Series -->
            <div class="blsp-input-group">
              <label>Series: </label>
              <select
              class="form-control" 
              [disabled]="!product.brand" 
              [(ngModel)]="product.series"
              name="series"
              [size]="(ui.seriesDropdown[product.brand] 
                ? ui.seriesDropdown[product.brand].length
                : 1)"
              multiple>
                <option 
                *ngFor="let option of ui.seriesDropdown[product.brand]"
                [value]="option">
                  {{option}}
                </option>
              </select>
            </div>

            <!-- Finish -->
            <div class="blsp-input-group">
              <label>Finish: </label>
              <select
              class="form-control" 
              [(ngModel)]="product.finish"
              name="finish">
                <option 
                *ngFor="let option of ui.finishDropdown"
                [value]="option">
                  {{option}}
                </option>
              </select>
            </div>

          </div>  <!-- .blsp-row -->

          <div class="blsp-row">

            <!-- Availability -->
            <div class="blsp-input-group">
              <label>Availability: </label>
              <select
              class="form-control" 
              [(ngModel)]="product.availability"
              name="availability">
                <option 
                *ngFor="let option of ui.availabilityDropdown"
                [value]="option">
                  {{option}}
                </option>
              </select>
            </div>

            <!-- Since (Date) -->
            <div class="blsp-input-group">
              <label>Since (date): </label>
              <input type="date"
              class="form-control" 
              [(ngModel)]="product.availabilityDateTime"
              name="availabilityDateTime">
            </div>

          </div>  <!-- .blsp-row -->

          <!-- Store Product Code 
          <div class="blsp-input-group">
            <label>Store Product Code: </label> 
            <input type="text"
            class="form-control" 
            [disabled]="product.storeCodeIsSame"
            [(ngModel)]="product.storeCode"
            name="storeCode"> <br> 
          </div>
          <div class="blsp-input-group">
            <label class="checkbox-inline">
              <input type="checkbox" 
              (change)="clearProperties(['storeCode'])"
              [(ngModel)]="product.storeCodeIsSame" 
              name="storeCodeIsSame"> 
              Same as Manufacturer
            </label>
          </div> -->

          <div class="blsp-row">

            <!-- UPC -->
            <div class="blsp-input-group">
              <label>UPC: </label>
              <input type="text"
              class="form-control" 
              [(ngModel)]="product.upc"
              name="upc">
            </div>

            <!-- MFG SKU -->
            <div class="blsp-input-group">
              <label>Mfg SKU: </label>
              <input type="text"
              class="form-control" 
              [(ngModel)]="product.mfksku"
              name="mfksku">
            </div>

          </div>  <!-- .blsp-row -->


          <div class="blsp-row">

            <!-- Supplier -->
            <div class="blsp-input-group">
              <label>Supplier: </label>
              <select
              class="form-control" 
              [(ngModel)]="product.supplier"
              name="supplier">
                <option 
                *ngFor="let option of ui.supplierDropdown"
                [value]="option">
                  {{option}}
                </option>
              </select>
            </div>

            <!-- empty space -->
            <div class="blsp-input-group"></div>

          </div>  <!-- .blsp-row -->

      </div>  <!-- .column -->

    </div> <!-- .scrollable -->


    <div class="blsp-mf-footer blsp-mf-section">

      <button type="submit" class="btn btn-primary"
      [disabled]="!f.valid || !f.dirty">Save</button>

      <button type="button"
      class="btn btn-default"
      (click)="close();" >Cancel</button>
    
    </div> <!-- blsp-mf-footer -->

  </form>

</div> <!-- .main -->