<div class="blsp-column blsp-pr-price">
  <div class="blsp-row blsp-pr-priceunit"
  *ngFor="let priceUnit of priceUnits"
  (click)="viewPriceUnit()">

    <div class="blsp-pr-cosmetic">
      <div class="blsp-pr-content">
        <span classname> 
          <b> {{priceUnit.cosmetic | capitalize}} </b>
        </span>
      </div>
    </div>

    <div class="blsp-pr-pricetype">
      <div class="blsp-pr-content">
        <div>
          <b> {{priceUnit.priceType}} </b>
        </div>
      </div>
    </div>

    <div class="blsp-pr-label">
      <div class="blsp-pr-content">
        <div>
          <span> {{priceUnit.label}} </span>
        </div>
      </div>
    </div>

    <div class="blsp-pr-amount">
      <div class="blsp-pr-content">
        <div class="blsp-row">
          {{priceUnit.amount |  currency:'USD':true:'4.2-2'}}
        </div>
      </div>
    </div>
  </div>
</div>