/********************
     MODAL FORM 
*********************/

/* primary */

div.blsp-mf {
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

div.blsp-mf > form {
  display: flex;
  flex-direction: column;
}

div.blsp-mf-section {
  padding:10px;
}

/* end primary */

/* mf header */

div.blsp-mf-header {
  padding-left: 13px;
  background: #337ab7;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display:flex;
  flex-direction: row;
  flex-shrink: 0;
}

div.blsp-mf-header .blsp-right-side {
  display:flex;
  flex: 1;
  justify-content: flex-end;
}

div.blsp-mf-header .close {
  color: white;
  opacity: 0.8;
  height:2em;
  width:2em;
} 

div.blsp-mf-header .close:hover {
  opacity: 1;
} 

div.blsp-mf-header .title {
  display: flex;
}

div.blsp-mf-header .title  h2 {
  font-size: 2em;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 10px;
}

/* end mf header */

/* scrollable */

div.blsp-mf-scrollable {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:80vh;
  border-bottom: 1px solid #e7e7e7;
}

div.blsp-form-separator {
  margin-left: 4px;
}

div.blsp-form-separator.blsp-line {
  border-top: 1px dotted #d4d4d4;
  margin-top: 20px;
  margin-left: 4px;
  padding-top: 10px;
}

div.blsp-form-separator.blsp-collapse {
  display:flex;
  justify-content: space-between;
  cursor:pointer;
}

div.blsp-form-separator.blsp-collapse:hover {
      background: #f8f6f6;
}

div.blsp-form-separator.blsp-collapse span {
  margin-top: 8px;
  margin-right: 10px;
}


div.blsp-form-separator h3,
div.blsp-form-separator h2,
div.blsp-form-separator h4 {
  margin-top:0px;
}

span.blsp-annotation {
  font-size: 0.6em;
  vertical-align: middle;
  color: #727272;
  font-weight: bold;
}

/* end scrollable */

/* footer */

div.blsp-mf-footer {
  flex-shrink: 0;
}

div.blsp-mf-footer button {
  height:2.5em;
}

/* end footer */ 

/* controls */

div.blsp-input-group {
  display: block;
  margin: 5px;
  flex:1;
}

div.blsp-button-group {
  display: flex;
  flex-direction: column-reverse;
  margin: 5px;
}

h5.blsp-group-title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  display: inline-block;
  max-width: 100%;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 18px;
  margin-bottom: 3px;
}

/* controls */