<div class="blsp-mf" (keypress)="handleKeyPress($event)">

  <!-- wake up hack -->
  <span *ngIf="hack" style="display:none" hidden></span>

  <!-- static head -->
  <div class="blsp-mf-header blsp-mf-section">
    <div class="title">
      <h2> Create Product </h2>
    </div>
    <div class="blsp-right-side">
      <button class="close" (click)="close();">&times;</button>
    </div>
  </div><!-- blsp-mf-header -->

    <!-- loading -->
  <div class="blsp-loading"
  *ngIf="!(active && product && ui)">
    <img class="blsp-wheel" src="http://products.einhell.com/skin/frontend/venedor/default/images/loading.gif">
  </div>

  <form 
  *ngIf="active && ui" 
  #f="ngForm"
  (submit)="onSubmit(f.value, $event)"> 

    <div class="blsp-mf-scrollable blsp-mf-section">

      <div class="blsp-column">

        <div class="blsp-column">

          <div class="blsp-form-separator"> 
            <h3> Main 
              <span class="blsp-annotation"> (required) </span> 
            </h3>
          </div>

          <div class="blsp-row">

            <!-- Brand -->
            <div class="blsp-input-group">
              <label>Brand: </label>
              <select #brandDropdown
              [(ngModel)]="product.brand"
              class="form-control" 
              name="brand"
              required>
                <option 
                *ngFor="let option of ui.brands"
                [value]="option">
                  {{option}}
                </option>
              </select>
            </div>

            <!-- Model Code -->
            <div class="blsp-input-group">
              <label>Product Code: </label>
              <input type="text" name="modelCode" 
              class="form-control" 
              [(ngModel)]="product.modelCode" 
              required>
            </div>

          </div>

          <div class="blsp-row">

            <!-- Short Description -->
            <div class="blsp-input-group">
              <label>Short Description: </label>
              <input type="text" name="description" 
              class="form-control" 
              [(ngModel)]="product.description" 
              required>
            </div>

          </div>

        </div> <!-- .blsp-column -->

        <div class="blsp-column">

          <div class="blsp-form-separator blsp-line blsp-collapse"
          (click)="toggleSection('details')"> 
            <h3> Details </h3> 
            <span *ngIf="!sections.details.open"
            class="glyphicon glyphicon-triangle-top" 
            aria-hidden="true"></span>
            <span *ngIf="sections.details.open"
            class="glyphicon glyphicon-triangle-bottom" 
            aria-hidden="true"></span>
          </div>

          <!-- section content -->
          <div class="blsp-column" 
          *ngIf="sections.details.open">

            <div class="blsp-row">

              <!-- Class -->
              <div class="blsp-input-group">
                <label>Class: </label>
                <select #classDropdown
                class="form-control" 
                [(ngModel)]="product.class"
                (change)="clearProperties(['subclass'])"
                name="class">
                  <option 
                  *ngFor="let option of ui.classDropdown"
                  [value]="option">
                    {{option}}
                  </option>
                </select>
              </div>

              <!-- Subclass -->
              <div class="blsp-input-group">
                <label>Subclass: </label>
                <select
                class="form-control" 
                [disabled]="!product.class" 
                [(ngModel)]="product.subclass"
                name="subclass">
                  <option 
                  *ngFor="let option 
                    of ui.subclassDropdown[product.class]"
                  [value]="option">
                    {{option}}
                  </option>
                </select>
              </div>

            </div> <!-- .blsp-row -->

            <!-- Detailed Desc -->
            <div class="blsp-input-group">
              <label>Detailed Description: </label>
              <textarea 
              rows="4"
              class="form-control" 
              style="resize:none;"
              [(ngModel)]="product.extendedDescription"
              name="extendedDescription">
              </textarea>
            </div>

            <!-- Physical Product -->
            <div class="blsp-input-group">
              <label class="checkbox-inline">
                <input type="checkbox"
                [(ngModel)]="product.physicalProduct"
                name="physicalProduct"
                [value]="true">
                Physical Product 
              </label>
            </div>

            <!-- isStandalone -->
            <div class="blsp-input-group">
              <label class="radio-inline">
                <input type="radio" name="isStandalone" 
                [value]="true" 
                [(ngModel)]="product.isStandalone"> Standalone Product
              </label> <br>
              <label class="radio-inline">
                <input type="radio" name="isStandalone" 
                [value]="false"
                [(ngModel)]="product.isStandalone"> Accessory 
              </label>
            </div>

            <!-- isIndoor -->
            <div class="blsp-input-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="isIndoor" 
                [value]="true" 
                [(ngModel)]="product.isIndoor"> Indoor
              </label> <br>
              <label class="checkbox-inline">
                <input type="checkbox" name="isOutdoor" 
                [value]="true"
                [(ngModel)]="product.isOutdoor"> Outdoor
              </label>
            </div>


            <div class="blsp-row">

              <!-- Series -->
              <div class="blsp-input-group">
                <label>Series: </label>
                <select
                class="form-control" 
                [disabled]="!product.brand" 
                [(ngModel)]="product.series"
                name="series"
                [size]="(ui.seriesDropdown[product.brand] 
                  ? ui.seriesDropdown[product.brand].length
                  : 1)"
                multiple>
                  <option 
                  *ngFor="let option of ui.seriesDropdown[product.brand]"
                  [value]="option">
                    {{option}}
                  </option>
                </select>
              </div>

              <!-- Finish -->
              <div class="blsp-input-group">
                <label>Finish: </label>
                <select
                class="form-control" 
                [(ngModel)]="product.finish"
                name="finish">
                  <option 
                  *ngFor="let option of ui.finishDropdown"
                  [value]="option">
                    {{option}}
                  </option>
                </select>
              </div>

            </div>  <!-- .blsp-row -->

            <div class="blsp-row">

              <!-- Availability -->
              <div class="blsp-input-group">
                <label>Availability: </label>
                <select
                class="form-control" 
                [(ngModel)]="product.availability"
                name="availability">
                  <option 
                  *ngFor="let option of ui.availabilityDropdown"
                  [value]="option">
                    {{option}}
                  </option>
                </select>
              </div>

              <!-- Since (Date) -->
              <div class="blsp-input-group">
                <label>Since (date): </label>
                <input type="date"
                class="form-control" 
                [(ngModel)]="product.availabilityDateTime"
                name="availabilityDateTime">
              </div>

            </div>  <!-- .blsp-row -->

            <!-- Store Product Code 
            <div class="input-group">
              <label>Store Product Code: </label> 
              <input type="text"
              class="form-control" 
              [disabled]="product.storeCodeIsSame"
              [(ngModel)]="product.storeCode"
              name="storeCode"> <br> 
            </div>
            <div class="input-group">
              <label class="checkbox-inline">
                <input type="checkbox" 
                (change)="clearProperties(['storeCode'])"
                [(ngModel)]="product.storeCodeIsSame" 
                name="storeCodeIsSame"> 
                Same as Manufacturer
              </label>
            </div> -->

            <div class="blsp-row">

              <!-- UPC -->
              <div class="blsp-input-group">
                <label>UPC: </label>
                <input type="text"
                class="form-control" 
                [(ngModel)]="product.upc"
                name="upc">
              </div>

              <!-- MFG SKU -->
              <div class="blsp-input-group">
                <label>Mfg SKU: </label>
                <input type="text"
                class="form-control" 
                [(ngModel)]="product.mfksku"
                name="mfksku">
              </div>

            </div>  <!-- .blsp-row -->

            <div class="blsp-row">

              <!-- Supplier -->
              <div class="blsp-input-group">
                <label>Supplier: </label>
                <select
                class="form-control" 
                [(ngModel)]="product.supplier"
                name="supplier">
                  <option 
                  *ngFor="let option of ui.supplierDropdown"
                  [value]="option">
                    {{option}}
                  </option>
                </select>
              </div>

              <!-- empty space -->
              <div class="input-group"></div>

            </div>  <!-- .blsp-row -->

          </div> <!-- section content -->

        </div> <!-- .blsp-column (details)-->

        <div class="blsp-column">

          <!-- section header -->
          <div class="blsp-form-separator blsp-line blsp-collapse"
          (click)="toggleSection('prices')"> 
            <h3> Prices </h3> 
            <span *ngIf="!sections.prices.open"
            class="glyphicon glyphicon-triangle-top" 
            aria-hidden="true"></span>
            <span *ngIf="sections.prices.open"
            class="glyphicon glyphicon-triangle-bottom" 
            aria-hidden="true"></span>
          </div>

          <!-- section content -->
          <div class="blsp-column" 
          *ngIf="sections.prices.open">

            <!-- MSRP -->
            <div class="blsp-column">

              <div class="blsp-row">
                <h5 class="blsp-group-title">
                  MSRP 
                </h5>
              </div>

              <div class="blsp-row">

                <!-- amount -->
                <div class="blsp-input-group">
                  <label>Amount </label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number"
                    class="form-control" 
                    [(ngModel)]="product.prices.msrp.amount"
                    name="msrpAmount">
                  </div>
                </div>

                <!-- label -->
                <div class="blsp-input-group">
                  <label>Label </label>
                  <input type="text"
                  class="form-control" 
                  [(ngModel)]="product.prices.msrp.label"
                  name="msrpLabel"
                  placeholder="MSRP">
                </div>

              </div> <!-- .blsp-row -->

            </div> <!-- .blsp-column (MSRP) -->

            <!-- Set Price -->
            <div class="blsp-column">

              <div class="blsp-row">
                <h5 class="blsp-group-title">
                  Set Price
                </h5>
              </div>

              <div class="blsp-row">

              </div> <!-- .blsp-row -->

              <table style="
                width:100%;
                margin-bottom: 0px;
                table-layout: fixed;
              " class="table table-striped">
                <thead>
                  <th style="font-weight:normal;">

                    <!-- amount -->
                    <div class="blsp-input-group">
                      <label>Amount </label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input #setPriceAmountInput
                        type="number"
                        class="form-control" >
                      </div>
                    </div>

                  </th>
                  <th style="font-weight:normal;">

                    <!-- label -->
                    <div class="blsp-input-group">
                      <label>Label </label>
                      <input #setPriceLabelInput
                      type="text"
                      class="form-control" 
                      name="setPriceLabel"
                      placeholder="">
                    </div>

                  </th>
                  <th style="
                    width: 80px; 
                    vertical-align:bottom;
                  ">

                    <div class="blsp-button-group">
                      <button type="button"
                      class="btn btn-default" 
                      (click)="addSetPrice(
                        setPriceAmountInput.value,
                        setPriceLabelInput.value
                      )" > 
                        Add
                      </button>
                    </div>


                  </th>
                </thead>
                <tbody>

                  <tr 
                  *ngIf="!product.prices.setPrice.length">
                    <td style="text-align:center;"
                    colspan="3"> (empty) </td>
                  </tr>

                  <tr 
                  *ngFor="let sp of product.prices.setPrice">
                    <td *ngIf="sp" 
                    style="padding-left:39px;">
                      $ {{sp.amount}}
                    </td>
                    <td *ngIf="sp"  
                    style="padding-left: 18px;" 
                    colspan="2">
                      {{sp.label}}
                    </td>
                  </tr>

                </tbody>
              </table> <!-- table -->

            </div> <!-- .blsp-column (Set Price)-->

            <!-- MSP -->
            <div class="blsp-column">

              <div class="blsp-row">
                <h5 class="blsp-group-title">
                  MSP 
                </h5>
              </div>

              <div class="blsp-row">

                <!-- amount -->
                <div class="blsp-input-group">
                  <label>Amount </label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number"
                    class="form-control" 
                    [(ngModel)]="product.prices.msp.amount"
                    name="mspAmount">
                  </div>
                </div>

                <!-- label -->
                <div class="blsp-input-group">
                  <label>Label </label>
                  <input type="text"
                  class="form-control" 
                  [(ngModel)]="product.prices.msp.label"
                  name="mspLabel"
                  placeholder="MSP">
                </div>

              </div> <!-- .blsp-row -->

            </div> <!-- .blsp-column (MSP)-->

            <!-- GO TO Price -->
            <div class="blsp-column">

              <div class="blsp-row">
                <h5 class="blsp-group-title">
                  Go-To Price
                </h5>
              </div>

              <div class="blsp-row">

                <!-- amount -->
                <div class="blsp-input-group">
                  <label>Amount </label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="number"
                    class="form-control" 
                    [(ngModel)]="product.prices.gotoPrice.amount"
                    name="gotoAmount">
                  </div>
                </div>

                <!-- label -->
                <div class="blsp-input-group">
                  <label>Label </label>
                  <input type="text"
                  class="form-control" 
                  [(ngModel)]="product.prices.gotoPrice.label"
                  name="gotoLabel"
                  placeholder="Go-To Price">
                </div>

              </div> <!-- .blsp-row -->

              <div class="blsp-row">

                <!-- amount -->
                <div class="blsp-input-group">
                  <label>Formula </label>
                  <div class="input-group">
                    <span class="input-group-addon">=</span>
                    <input type="text"
                    class="form-control" 
                    [(ngModel)]="product.prices.gotoPrice.formula"
                    name="gotoFormula"
                    placeholder="msrp * 0.88">
                  </div>
                </div>

              </div> <!-- .blsp-row -->

            </div> <!-- .blsp-column (GO TO)-->

          </div> <!-- .blsp-column (section content) -->

        </div> <!-- .blsp-column -->

      </div> <!-- .blsp-column -->

    </div> <!-- blsp-mf-scrollable -->

    <div class="blsp-mf-footer blsp-mf-section">

      <button type="submit"
      class="btn btn-primary"
      [disabled]="!f.valid || !f.dirty">Save</button>

      <button type="button"
      class="btn btn-default"
      (click)="close();" >Cancel</button>

    </div> <!-- blsp-mf-footer -->

  </form>
</div>