<div class="blsp-pu-main blsp-column">
  
  <div class="blsp-pu-header blsp-row">
    <div class="blsp-pu-title">
      Title Shit over here
    </div>
    <div class="blsp-pu-close">
      <button class="close" (click)="close();"> &times;
      </button>
    </div>
  </div>

  <!-- menu -->
  <div class="blsp-pu-menu">
    <ul class="nav nav-pills blsp-row">
      <li [ngClass]="{
        'active': contentReq == 'dateRange'
      }">
        <a class="blsp-pu-menuitem"
        (click)="contentReq = 'dateRange'">
          Date Range(s)
        </a>
      </li>
      <li [ngClass]="{
        'active': contentReq == 'sourceDocs'
      }">
        <a class="blsp-pu-menuitem"
        (click)="contentReq = 'sourceDocs'">   
          Source Doc(s)
        </a>
      </li>

      <li [ngClass]="{
        'active': contentReq == 'origin'
      }">
        <a class="blsp-pu-menuitem"
        (click)="contentReq = 'origin'">   
          Origin / Formula
        </a>
      </li>

      <li [ngClass]="{
        'active': contentReq == 'priceType'
      }">
        <a class="blsp-pu-menuitem"
        (click)="contentReq = 'priceType'">   
          Price Type Definition
        </a>
      </li>
    </ul>
  </div> <!-- end menu -->

  <!-- date range -->
  <div class="blsp-pu-content"
  *ngIf="contentReq === 'dateRange'">
    date range
  </div> <!-- date range -->

  <!-- source docs -->
  <div class="blsp-pu-content"
  *ngIf="contentReq === 'sourceDocs'">
    source docs
  </div> <!-- source docs -->

  <!-- origin -->
  <div class="blsp-pu-content"
  *ngIf="contentReq === 'origin'">
    origin
  </div> <!-- origin -->

  <!-- priceType -->
  <div class="blsp-pu-content"
  *ngIf="contentReq === 'priceType'">
    priceType
  </div> <!-- priceType -->

</div>