#blsp-main {
	max-width: 400px;
	padding: 5px;
}

div.blsp-image-box {
	height:200px;
	width:100%;
	background-image: url("/assets/app-images/image-placeholder.png");
  background-size: 400px 300px;
  background-position: center;
  background-repeat: no-repeat;
	text-align:center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 2px solid #c5c5c5;
}

img.blsp-image {
	max-height:100%;
	max-width:100%;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#blsp-message {
	padding:5px;
}
#blsp-message span {
	height: 19px;
  font-size: 15px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
    