<div style="background:red">
  <h3 style="margin-top:0;"> Details: </h3>
  <div *ngIf="!connectionActive">
    (no connection to Drive)
  </div>
  <div *ngIf="connectionActive && !_sheetId">
    select a sheet
  </div>
  <div *ngIf="connectionActive && _sheetId && loading">
    loading
  </div>
  <div *ngIf="connectionActive && _sheetId && !sheet && !loading">
    no such sheet
  </div>
  <div *ngIf="connectionActive && _sheetId && sheet && !loading"
  style="max-height:400px;overflow-y:scroll;">
    {{sheet|json}}
    <table>
      <tr *ngFor="let row of sheet.sheets[0].data[0].rowData">
        <td *ngFor="let cell of row.values">
          {{cell.formattedValue}}
        </td>
      </tr>
    </table>
  </div>
</div>